 
  *{
  box-sizing:border-box;
  margin:0;
  padding:0;
  }
  html{
    font-size:62.5%;
  }
  body{
    font-family: 'Poppins', sans-serif;
    line-height:1.4;
    font-weight:400;
    
    }
    body::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:linear-gradient(115deg , rgba(58,58,158,0.8) ,rgba(136 , 136 , 206,0.7) ),
        url("/image/survey-form-background.jpeg") no-repeat center center/cover ;
        z-index: -1;
    }
    
    .container{
        max-width: 700px;
        margin: 0 auto;
        
    }
    .header h1 , .header p{
       color: #f3f3f3;
      
        
    }
    .text-align{
        text-align: center;
    }
    .title{
        font-weight: 400;
        font-size: 2.2em;
        margin-top: 2em;
       
  
    }
    .header p{
        
        font-style: italic;
        margin-bottom: 1em;
        font-weight: 200;
        text-align: center;
        font-size: 1.8em;
       
    }
    .header h1{
        font-size: 3em;
       
    }
    
    .survey-form{
        background-color:rgba(27, 27, 50, 0.8);
        padding: 3rem 4rem;
        border-radius: 6px;
        margin-bottom: 20px;
       
    }
   input[type="text"]  ,
   input[type="email"] ,
   input[type="number"]
   {
       display: block;
       width: 100%;
       font-family:font-family: 'Poppins', sans-serif;  
      margin-bottom: 2em;
       padding:0.7rem;
       margin-top:1rem;
      
      }
      
      input:focus{
          outline: 0;
          border: 3px solid blue;
          border-radius: 5px;
          transition: border-color 0.15s ease-in-out;
      }
    .survey-form    label{
        color: #fff;
        font-size: 1.9em;
        
    }
    button[type="submit"]{
        border: none;
        background-color: #37af65;
        color: #fff;
        padding: 1rem 2rem;
        display: block;
        width: 100%;
        margin-bottom: 2rem;
        font-size: 2em;
    }  
    ::placeholder{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
    }  
    #dropdown{
        border: none;
        display: block;
        width: 100%;
        padding: 1rem;
        color: #495057;
        font-family: 'Poppins', sans-serif;
        padding:0.7rem;
        margin: 1.1em 0;
        
    } 
    #dropdown option{
        color: #495057;
        font-family: 'Poppins', sans-serif;
       
        
       
    } 
     .title-info{
        color:#fff;
        font-size: 1.8em;
        
       
     
    }
    .text-area{
        display: block;
        width: 100%;
        margin-bottom: 3rem;
        padding: 1rem;
        font-size: 1.5rem;
    }
    .text-area:focus{
        outline: none;
    }
    .form-groups .title-info{
        margin-bottom: 0.6em;
    }
   .form label{

line-height: 1.9;
margin-right: 10px;
   }  
   input.larger{
       display: inline-block;
       transform: scale(1.9);
       margin-right: 10px;
   }
   .info-description{
       margin-top: 2em;
   }
